@charset "UTF-8";

body{
    background-color: #000;
}

.logo{
    width: 80%;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    max-width: 300px;
    flex-wrap: wrap;
    padding: 10px;
    margin: auto;
    
}

h1{
    text-align: center;
    color: white;
    
}

.box{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    object-fit: cover;
    line-height: 100%;
}

.usuario{
    display: flex;
    width: 160px;
    height: 160px;
    margin: 7px;
    background-color: rgb(50, 44, 44);
    border-radius: 10px;
}


.usuario > a >img{
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: rgb(97, 94, 94);
}

.plus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

div.button{
    height: 70px;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    min-width: 120px;
    flex-wrap: wrap;
    padding: 0 auto;
    margin: auto;
    margin-bottom: 75px;
    

}

button{
    background-color: black;
    color: white;
    text-decoration: none;
    border: solid 2px white;
    border-radius: 10px;
    font-size: 16px;
}

a:hover{
    border-radius: 10px;
    border: solid white 3px;
    transition-duration: 0.1s;
    transition-delay: 0.1s;
    color: white;
    height: 100%;
}



button:hover{
    background-color: white;
    color: #000;
    transition-duration: 0.2s;
    transition-delay: 0.2s;
    cursor: pointer;
}